<div id="BranchView" data-bind="
    style: {
        width: Environment.display.viewportWidth() + 'px',
        height: Environment.display.viewportHeight() + 'px',
        overflow: 'hidden'
    }">
    <img data-bind="attr: {src: floorplanUrl()}" data-role="floorplan" />
	<div data-bind="foreach: contentTypes">
		<div data-bind="text: $data, style: {backgroundColor: 'black', color: 'white', padding: '10px', position: 'absolute', top: $root.typeCoordinates[$data]().random.y + 'px', left: $root.typeCoordinates[$data]().random.x + 'px'}"></div>
	</div>
</div> 