<div id="BranchView" data-bind="
    style: {
        width: Environment.display.viewportWidth() + 'px',
        height: Environment.display.viewportHeight() + 'px'
    }">
<!--The BranchView div-->
<!--<div data-bind="css: {backgroundImage: image}"></div>-->
<div id="video"> 
</div> 
<div id="audio">
<!--	<img src="TheSource" alt="Click to listen to audio stories">-->
</div> 
<div id="image">
<!--	<img src="TheSource" alt="Click to view Images">-->
</div>
<div id="text">
<!--	<img src="TheSource" alt="Read stories">--> 
</div>
<div id="pdf">
<!--	<img src="TheSource" alt="View Stories in PDF">-->
</div>
<div id="link"> 
<!--	(img src="TheSource" alt="View links that have been posted">-->
</div>

</div> 

