<div id="tm-content-panel">
    <div id="content-container">
        <form>
        <h1>Sign In</h1>
        <p>If you have an EPL card, you can sign into the TimeMap using your EPL credentials:</p>

        <p class="inputError" id="ajaxErrorLogin"></p>

        <p>
            <label for="loginUsername" class="form-label">Username: <span class="required">*</span></label>
            <input type="text" class="form-input text" id="loginUsername" maxLength="30"
                data-bind="value: login.username"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: login.username"></p>
        
        <p>
            <label for="loginPassword" class="form-label">Password: <span class="required">*</span></label>
            <input type="password" class="form-input text" id="loginPassword" maxLength="30"
                data-bind="value: login.password"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: login.password"></p>

        <p><button data-bind="click: loginSubmit">Sign In</button></p>

        <br />

        <p>If you do not have an EPL card, you can create your own account for the TimeMap below:</p>

        <h1>Create Account</h1>

        <p class="inputError" id="ajaxErrorCreateAccount"></p>
        
        <p>
            <label for="firstName" class="form-label">First Name: <span class="required">*</span></label>
            <input type="text" class="form-input text" id="firstName" maxLength="30"
                data-bind="value: account.firstname"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.firstname"></p>
        
        <p>
            <label for="lastName" class="form-label">Last Name: <span class="required">*</span></label>
            <input type="text" class="form-input text" id="lastName" maxLength="30"
                data-bind="value: account.lastname"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.lastname"></p>

        <p>
            <label for="email" class="form-label">Email: <span class="required">*</span></label>
            <input type="text" class="form-input text" id="email" 
                 data-bind="value: account.email"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.email"></p>
        
        <p>
            <label for="username" class="form-label">Username: <span class="required">*</span></label>
            <input type="text" class="form-input text" id="username" maxLength="30"
                data-bind="value: account.username"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.username"></p>
        
        <p>
            <label for="password" class="form-label">Password: <span class="required">*</span></label>
            <input type="password" class="form-input text" id="password" maxLength="30"
                data-bind="value: account.password"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.password"></p>
        
        <p>
            <label for="confirmPassword" class="form-label">Confirm Password: <span class="required">*</span></label>
            <input type="password" class="form-input text" id="confirmPassword" maxLength="30"
                data-bind="value: account.passwordConfirmation"/>
        </p>
        <p class="inputError indent" data-bind="validationMessage: account.passwordConfirmation"></p>
        
        <p>
            <input type="checkbox" id="agreeToTerms" data-bind="checked: account.agreeToTerms">
            <label for="agreeToTerms">I agree to the 
                <a href="" target="_blank" id="termsAndConditions">Terms and Conditions</a>.
            </label>
        </p>
        <p class="inputError" data-bind="validationMessage: account.agreeToTerms"></p>

        <div>
            <p>As a security measure to prevent spam account creation, please complete the Captcha below:</p>
            <div id="recaptcha-section"/>
        </div>

        <p><button data-bind="click: createAccountSubmit">Create Account</button></p>
        
        <p>You will receive an email to confirm your new account.</p>
        
        <p class="hintText"><a href="/timemap/">(Click here to cancel and return to the TimeMap)</a></p>

        </form>
    </div>
</div>
