<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<style type="text/css">
	/* To be moved out of here. */
	#help-container {
		font-family: Arial;
		margin: 20px 0px 20px 20px;
		width: 600px;
	}
	h1, h2, h3 {
		color: #4E7398;
	}
	a:link, a:visited {
		color: #6299d6;
	}
	a:hover {
		color: #A1C2E6;
	}
	</style>
</head>
<body>

<div id="help-container">
<h1>Help Contents</h1>
<ol>
    <li><a href="#timemap">TimeMap</a>
		<ol type="a">
			<li><a href="#timemap">What is the TimeMap?</a></li>
			<li><a href="#navigation">Navigation</a></li>
			<li><a href="#viewing_branches">Viewing Branches</a></li>
			<li><a href="#viewing_stories">Viewing Stories</a></li>
			<li><a href="#searching_for_stories">Searching for Stories</a></li>
            <li><a href="#uploads">Uploading Stories</a></a>
                <ol type="a">
                    <li><a href="#uploading_new_story">Uploading a New Story</a></li>
                    <li><a href="#supported_content">Supported Content Types</a></li>
                </ol>
            </li>
		</ol>
	</li>
    <li><a href="#HundredYearQuest">Hundred Year Quest</a>
    </li>
    </li>
	<li><a href="#accounts">Accounts</a></a>
		<ol type="a">
            <li><a href="#create_account">Creating a New Account</a></li>
            <li><a href="#verify_email">Verifying Your Email Address</a></li>
            <li><a href="#login">Logging Into Your Account</a></li>
            <li><a href="#manage_account">Managing Your Account</a></li>
        </ol>
    </li>
    <li><a href="#credits">Licencing and Attributions</a></a>
    </li>
</ol>

<hr>

<h2><a id="timemap"></a>TimeMap</h2>

<h3><a id="accounts"></a>What is the TimeMap?</h3>
<p> The TimeMap is an interactive timeline and map of the city of Edmonton created for the EPL
Centennial celebration. Through this application you are able to explore the history of the
city as it relates to the Public Library system.

We have populated the timemap with numerous stories, but it is up to you to enlarge this collection.
By creating an account you will be able to contribute to this project. We encourage everyone to submit
their stories so that they can be shared with the whole world.
</p>

<h3><a id="navigation"></a>Navigation</h3>
<p>TimeMap navigation is built to be simple and intuitive. By using the
timeline, you can navigate backwards and forwards in time. As you do so, the view
of the map will automatically be updated to represent the branches as they existed
in the time range selected by the time selector.
To navigate backwards or forwards in time:
<ol>
    <li>Place your mouse cursor over the timeline widget.</li>
    <li>Click and drag the timeline to the right or to the left until the desired decade is selected in the time selector.</li>
</ol>
As you drag the timeline, the map view will automatically change from the Google
maps view to maps of Edmonton for the time period currently selected by the time selector.<br>
</p>

<h3><a id="viewing_branches"></a>Viewing Branches</h3>
<p>To view information about a specific branch location:
<ol>
    <li>On the map, locate the branch whose information you want to view.</li>
    <li>Click on the map pin corresponding to the branch.</li>
    <li>A small popup window will appear with a breif description of that branch.</li>
    <li>To view detailed branch information, click on the 'View Branch' button.</li>
</ol>
</p>

<h3><a id="viewing_stories"></a>Viewing Stories</h3>
<p>Storys can be accessed in two ways: by selecting a story in a branch view and by searching for specific stories.
To view a story relavent to a branch:
<ol>
    <li>Navigate to a specific branch. See 'Viewing Branches'.</li>
    <li>On the branch's floor plan, you will see icons of various media formats.</li>
    <li>Click on anyone of these icons and select a story from the drop down menu.</li>
</ol>
To find a story by search: see 'Searching for Stories'.
</p>

<h3><a id="searching_for_stories"></a>Searching for Stories</h3>
<p>The TimeMap includes a simple search interface to search for all available
stories.<br>
To search for a story:
<ol>
    <li>In the side panel, click the Search tab.</li>
    <li>In the seach text field, enter the the search terms relavent to the branch or story you are searching for.</li>
    <li>As you type, results relavent to your search will be displayed dynamically in the space below the search text field</li>
    <li>Click on the desired search result and the story will open in the space over the map.</li>
</ol>
</p>

<h2><a id="uploads"></a></a>Uploading Stories</h2>
<h3><a id="uploading_new_story"></a>Uploading a New Story</h3>
<p><span style="color: red">TODO - add steps to navigate to Upload Story screen when complete.</span><br><br>

To upload a story, you must have an account. If you do not have an account please <a href="#create_account">create one</a>.
<br><br>
<ol>
    <li><span style="color: red">Navigate to the upload story view</span></li>
    <li>Fill in the required information:
        <ul>
            <li><b>Title</b> (required): A short title for the story.</li>
            <li><b>Description</b> (required): A description of the story's content.</li>
            <li><b>Story Content</b> (required): There are three different types of stories. The user must select one of the story types:
                <ul>
                    <li><b>Text</b>: The story has text-based content. The text will be displayed when the story is viewed on the TimeMap.</li>
                    <li><b>Link</b>: The story is a reference to an external website. A link to this external website will be displayed when the story is viewed on the TimeMap.<br> Note that the link URL must be a valid URL (for example: http://www.example.com).</li>	<li><b>File</b>: The story contains a media file, such as an image or a pdf. Please see the <a href="#supported_content">supported content types</a> for more details.</li>
                </ul>
            </li>
            <li><b>Branch</b> (required): All stories must be associated to a library branch. The story will be displayed under this branch on the TimeMap. </li>
            <li><b>Date</b> (Year is required): The date in <i>dd MM yyyy</i> format. All stories must have a year so that they can be displayed on the TimeMap based on the timeline date range. The Day and Month are optional (simply leave the Day and Month fields blank if you do not want them). </li>
            <li><b>Keywords</b>: Keywords are words that are associated with your story. Adding relevant keywords will help users find your story using the search functionality on the TimeMap. A user can either select from the pre-defined keywords or enter their own (separated by commas).</li>
        </ul>
    </li>
    <li>Click the Upload button</li>
    <li>If you have any errors in your inputs, correct them and try again.</li>
</ol>
<b>Note:</b> A user-uploaded story is not displayed publicly on the TimeMap until it has been approved by an EPL administrator. EPL will endeavour to approve user-submitted content as quickly as possible, but there may be some delay.
</p>

<h3><a id="supported_content"></a>Supported Content Types</h3>
<p>The following files types are supported for uploaded files:
<ul>
	<li><b>Images:</b> .jpg or .png</li>
	<li><b>Text:</b> .pdf</li>
</ul>
</p>

<hr>

<h2><a id="HundredYearQuest"></a>Hundred Year Quest</h2>

TODO: Hundred Year Quest

<hr>

<h2><a id="accounts"></a></a>Accounts</h2>

<p>An account is <i>not</i> required to view content on the TimeMap website. An account is required only if a user wants to upload their own content to the TimeMap website. Accounts are free.</p>

<h3><a id="create_account"></a></a>Creating a New Account</h3>
<p>To create a new account:
<ol>
    <li>Click on the 'Login Button'</li>
    <li>Select the create new account tab</li>
    <li>Provide the required information</li>
    <li>Click the create account button</li>
    <li>Your account must then be activated by clicking on the link sent to the e-mail address that was provided.</li>
</ol>
</p>

<h3><a id="login"></a>Logging Into Your Account</h3>
<p>
To login to your account:
<ol>
    <li>Click on the login button on the top right.</li>
    <li>Enter your username and password.</li>
    <li>Click the login button.</li>
</ol>
</p>

<h3><a id="manage_account"></a>Managing Your Account</h3>
<p>
You can update your account information at anytime.
<ol>
    <li><a href="#login">Login</a> to your account.</li>
    <li>Click on the Manage button.</li>
    <li>Edit the information you wish to change.</li>
    <li>Click the save changes button.</li>
</ol>
</p>

<hr>

</div>

<h2><a id="credits"></a>Licencing and Attributions</h2>
<p>TimeMap is powered by <a href="http://www.simile-widgets.org/timeline/"><img src="images/similie-copyright-vertical.png"></img></a></p>

<p>
Unless otherwise stated in a specific file, all code falls under the copyright and license specified below:<br><br>


Copyright (C) 2013 Braeden Petruk, Oscar Ramirez, Taylor Lloyd, Benjamin Rolleman, Noorez Kassam, Isaac Matichuk, Timothy Phillips<br>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
</p>
</body>
</html>
