<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<style type="text/css">
	/* To be moved out of here. */
	#help-container {
		font-family: Arial;
		margin: 20px 0px 20px 20px;
		width: 600px;
	}
	h1, h2, h3 {
		color: #4E7398;
	}
	a:link, a:visited {
		color: #6299d6;
	}
	a:hover {
		color: #A1C2E6;
	}
	</style>
</head>
<body>

<div id="help-container">
<h1>Help Contents</h1>
<ol>
	<li><a href="#timemap">TimeMap</a>
		<ol type="a">
			<li><a href="#timemap">What is the TimeMap?</a></li>
			<li><a href="#navigation">Navigation</a></li>
			<li><a href="#viewing_branches">Viewing Branches</a></li>
			<li><a href="#viewing_stories">Viewing Stories</a></li>
			<li><a href="#searching_for_stories">Searching for Stories</a></li>
		</ol>
	</li>
	<li><a href="#accounts">Accounts</a></a>
		<ol type="a">
			<li><a href="#create_account">Creating a New Account</a></li>
			<li><a href="#verify_email">Verifying Your Email Address</a></li>
			<li><a href="#manage_account">Managing Your Account</a></li>
		</ol>
	</li>
	<li><a href="#uploads">Uploading Stories</a></a>
		<ol type="a">
			<li><a href="#uploading_new_story">Uploading a New Story</a></li>
			<li><a href="#supported_content">Supported Content Types</a></li>
		</ol>
	</li>
</ol>

<hr>

<h2><a id="timemap"></a>1. TimeMap</h2>

<h3><a id="accounts"></a>What is the TimeMap?</h3>
<p>TO DO
</p>

<h3><a id="navigation"></a>Navigation</h3>
<p>TO DO
</p>

<h3><a id="viewing_branches"></a>Viewing Branches</h3>
<p>TO DO
</p>

<h3><a id="viewing_stories"></a>Viewing Stories</h3>
<p>TO DO
</p>

<h3><a id="searching_for_stories"></a>Searching for Stories</h3>
<p>TO DO
</p>

<hr>

<h2><a id="accounts"></a></a>2. Accounts</h2>

<p>An account is <i>not</i> required to view content on the TimeMap website. An account is required only if a user wants to upload their own content to the TimeMap website.</p>

<h3><a id="create_account"></a></a>Creating a New Account</h3>
<p><span style="color: red">TO DO - add steps to navigate to create account screen when complete.</span>
<br><br>
A user can create a new account on the Create Account screen. The user must complete the form with the following information:
<ul>
	<li>First name</li>
	<li>Last name</li>
	<li>Email</li>
	<li>Username</li>
	<li>Password</li>
</ul>
Note that the password must be at least 6 characters long, and the user must confirm the password by entering it twice. The username and password are required so that the user can log back into the website.<br><br>
The user must also agree to the Terms and Conditions before their account can be created.
<br><br>
Once the user has completed the form, clicking on the "Create Account" button creates a new account for the user:
<ul>
	<li>If there are any errors with the user's input (such as leaving a required field empty), error messages are displayed. The user can fix their information and click "Create Account" again to resubmit the form.</li>
	<li>If the username has already been taken by another user, an error message is displayed. Unfortunately, usernames must be unique. The user must choose another username for their account.</li>
	<li>If there are no errors with the user's input, a new account is created for the user. A message is displayed to user indicating that an account has been created.</li>
	<li>The user must <a href="#verify_email">verify their email address</a> before they are allowed to login to their new account.</li>
</ul>
Once a user has created and verified their account, they can upload their own stories to the TimeMap website. 
</p>

<h3><a id="verify_email"></a>Verifying Your Email Address</h3>
<p>A user must verify their email address before they can login to their account for the first time. When a new account is created, an email is sent to the email address that the user provided on the <a href="#create_account">Create Account</a> screen. This email contains a link that the user must follow to validate their account. The user will only be able to login to the TimeMap website once they have verified their email address.
</p>

<h3><a id="manage_account"></a>Managing Your Account</h3>
<p><span style="color: red">TO DO - add steps to navigate to My Account screen when complete.</span>
<br><br>
A user can edit their account details once their have logged into their account, by navigating to the My Account screen. On this screen the user can view and update information about their account, including:
<ul>
	<li>First Name</li>
	<li>Last Name</li>
	<li>Email</li>
	<li>Password</li>
</ul>
For security reasons, the user must enter their current password in order to update their email or their password. 
<br><br>
Once the user has updated their information, clicking on the "Save Changes" button will update their account information:
<ul>
	<li>If there are any errors with the user's input (such as entering their current password incorrectly), error messages are displayed. The user can fix their information and click "Save Changes" again to resubmit the form.</li>
	<li>If there are no errors with the user's input, the user's account information is updated. A message is displayed to user indicating that their account has been updated successfully.</li>	
</ul>
</p>

<hr>

<h2><a id="uploads"></a></a>3. Uploading Stories</h2>
<h3><a id="uploading_new_story"></a>Uploading New Story</h3>
<p>TO DO
</p>

<h3><a id="supported_content"></a>Supported Content Types</h3>
<p>TO DO
</p>
</div>

</body>
</html>