<div id="epl-bar">
	<span class="logo">EPL</span>
</div>
<div id="tm-sidebar">
	<div class="contents">
		<ul class="menu">
			<li>
				<div class="icon"></div>
			</li>
			<li>
				<div class="icon"></div>
			</li>
		</ul>
	</div>
</div>
<div id="tm-canvas" data-bind="
	style: {
		width: (Environment.display.viewportWidth() + 'px'),
		height: Environment.display.viewportHeight() + 'px',
		left: Environment.display.sidebarWidth() + 'px',
		top: Environment.display.topBarHeight() + 'px'
	}">

</div>