<div id="epl-bar">
	<img class="logo" src="/static/images/epl-logo.png" alt="EPL Logo"/>
	<div id="timeline"></div>
</div>
<div id="tm-sidebar">
	<div class="contents">
		<ul class="tabs">
			<li data-tab="features">
				Features
				<div class="indicator"></div>
			</li>
			<li class="active" data-tab="search">
				Search
				<div class="indicator"></div>
			</li>
			<li data-tab="advanced-search">
				Advanced Search
				<div class="indicator"></div>
			</li>
		</ul>
		<div class="tab-contents">
			<div data-tab="features"></div>
		</div>
		<input type="text" class="epl-input text search-box" data-default-text="Start typing to search..."/>
		<!--<select class="epl-input select search-select">
			<option value="test">Test</option>
			<option value="cool" selected="selected">Cool</option>
		</select>-->
		<!-- <div class="epl-input select search-select">
			<div class="option-list">
				<div class="option option-selected" data-value="option1" data-text="Option 1">
					<div class="option-contents">Option 1</div>
				</div>
				<div class="option" data-value="option1" data-text="Option 1">
					<div class="option-contents">Option 1</div>
				</div>
				<div class="option" data-value="option2" data-text="Option 2">
					<div class="option-contents">Option 2</div>
				</div>
				<div class="option" data-value="option3" data-text="Option 3">
					<div class="option-contents">Option 3</div>
				</div>
				<div class="option" data-value="option4" data-text="Option 4">
					<div class="option-contents">Option 4</div>
				</div>
				<div class="option" data-value="option5" data-text="Option 5">
					<div class="option-contents">Option 5</div>
				</div>
			</div>
		</div> -->
		<div class="results">
			<!-- ko ifnot: searchResults().length > 0 -->
			<div class="search-result">
				<p class="title">No results.</p>
				<p class="description">Begin typing in the search box to narrow your query.</p>
			</div>
			<!-- /ko -->
			<!-- ko foreach: {data: searchResults(), as: 'result'} -->
			<div class="search-result">
				<p class="title" data-bind="text: result.title"></p>
				<p class="description" data-bind="text: result.description"></p>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
<div id="tm-canvas" data-bind="
	style: {
		width: (Environment.display.viewportWidth() + 'px'),
		height: Environment.display.viewportHeight() + 'px',
		left: Environment.display.sideBarWidth() + 'px',
		top: Environment.display.topBarHeight() + 'px'
	}">

</div>
<div id="tm-branch-info-pane">
	<div class="tm-branch-info">
		<div class="title">
			<span data-bind="text: selectedBranch().name"></span>
			<div class="close" data-bind="closeBranchInfo: true">X</div>
		</div>
		<div class="description" data-bind="text: selectedBranch().description"></div>
	</div>
</div>