<div id="epl-bar">
	<span class="logo">EPL</span>
</div>
<div id="tm-sidebar">
	<div class="contents">
		<ul class="tabs">
			<li>
				Features
				<div class="indicator"></div>
			</li>
			<li class="active">
				Search
				<div class="indicator"></div>
			</li>
			<li>
				Advanced Search
				<div class="indicator"></div>
			</li>
		</ul>
		<input type="text" class="epl-input text search-box" data-default-text="Start typing to search..."/>
		<div class="results">Results for: </div>
	</div>
</div>
<div id="tm-canvas" data-bind="
	style: {
		width: (Environment.display.viewportWidth() + 'px'),
		height: Environment.display.viewportHeight() + 'px',
		left: Environment.display.sideBarWidth() + 'px',
		top: Environment.display.topBarHeight() + 'px'
	}">

</div>