<div id="tm-content-panel">
    <div id="content-container">
        <form action="" id="uploadStoryForm" method="POST" enctype="multipart/form-data">
            <h1>Upload Your Story</h1>
            
            <p class="inputError" id="ajaxError"></p>
            
            <p>
                <label for="title" class="form-label">Title: <span class="required">*</span></label>
                <input type="text" class="form-input text" id="title" name="title" maxLength="100" data-bind="value: story.title"/>
            </p>
            <p class="inputError indent" data-bind="validationMessage: story.title"></p>
            
            <p>
                <label for="description" class="form-label">Description: <span class="required">*</span></label>
                <textarea id="description" name="description" rows="4" 
                    class="top form-input textarea" data-bind="value: story.description"></textarea>
            </p>
            <p class="inputError indent" data-bind="validationMessage: story.description"></p>
            
            <p>
                Story Content: <span class="required">*</span>
                    <p>
                        <input type="radio" name="contentType" id="textRadio" value="text"
                            class="storyRadio" data-bind="checked: story.content_type">
                        <label for="textRadio" class="storyRadioLabel">Add text:
                            <span class="required" data-bind="css: { hidden: story.content_type() != 'text' }">*</span>
                        </label>
                        <textarea id="textInput" name="textInput" style="height: 150px;" class="top form-input textarea" 
                            data-bind="value: story.story_text, enable: story.content_type() == 'text'"></textarea>
                    </p>
                    <p class="inputError indent" data-bind="validationMessage: story.story_text"></p>
                    <p>
                        <input type="radio" name="contentType" id="linkRadio" value="link"
                            class="storyRadio" data-bind="checked: story.content_type">
                        <label for="linkRadio" class="storyRadioLabel">Add link:
                            <span class="required" data-bind="css: { hidden: story.content_type() != 'link' }">*</span>
                        </label>
                        <input type="text" id="linkInput" name="linkInput" class="form-input text"
                            data-bind="value: story.link_url, enable: story.content_type() == 'link'">
                    </p>
                    <p class="inputError indent" data-bind="validationMessage: story.link_url"></p>
                    <p>
                        <input type="radio" name="contentType" id="fileRadio" value="media"
                            class="storyRadio" data-bind="checked: story.content_type">
                        <label for="fileRadio"class="storyRadioLabel">Choose file:
                            <span class="required" data-bind="css: { hidden: story.content_type() != 'media' }">*</span>
                        </label>
                        <input type="file" id="fileInput" name="up_file" data-bind="enable: story.content_type() == 'media'">
                        <span class="hintText">(.jpg, .png or .pdf)</span>
                    </p>
            </p>
            <p class="inputError" data-bind="validationMessage: story.content_type"></p>
               
            <p>
                <label for="branch" class="form-label">Branch: <span class="required">*</span></label>
                <select data-bind= "options: branchOptions, optionsText: 'name', optionsValue: 'id',
                    optionsCaption: 'Select a branch', value: story.branch">
                </select>
            </p>
            <p class="inputError indent" data-bind="validationMessage: story.branch"></p>
            
            <p>
                <label for="dayDate" class="form-label">Date:</label>
                <input type="text" id="dayDate" name="day" maxLength="2" class="form-input date"
                    data-bind="value: story.day">
                <input type="text" id="monthDate" name="month" maxLength="2" class="form-input date"
                    data-bind="value: story.month">
                <input type="text" id="yearDate" name="year" maxLength="4" class="form-input date"
                    data-bind="value: story.year">
                <span class="required">*</span>
                <span class="hintText">(dd MM yyyy)</span>
            </p>
            <p class="inputError indent" data-bind="validationMessage: story.year"></p>
        
            <p>
                Keywords:
                <div class="indent">
                    <table>
                        <tr>
                            <td class="keywordCell">
                                <input type="checkbox" id="booksKeyword" value="Books"
                                    data-bind="checked: story.preset_keywords">
                                <label for="booksKeyword">Books</label></td>
                            <td class="keywordCell">
                                <input type="checkbox" id="libCelebKeyword" value="Library Celebrations"
                                    data-bind="checked: story.preset_keywords">
                                <label for="libCelebKeyword">Library Celebrations</label></td>
                        </tr>
                        <tr>
                            <td class="keywordCell">
                                <input type="checkbox" id="childrenKeyword" value="Children and Libraries"
                                    data-bind="checked: story.preset_keywords">
                                <label for="childrenKeyword">Children and Libraries</label></td>
                            <td class="keywordCell">
                                <input type="checkbox" id="libraryProgKeyword" value="Library Programs"
                                    data-bind="checked: story.preset_keywords">
                                <label for="libraryProgKeyword">Library Programs</label></td>
                        </tr>
                        <tr>
                            <td class="keywordCell">
                                <input type="checkbox" id="familiesKeyword" value="Families and Libraries"
                                    data-bind="checked: story.preset_keywords">
                                <label for="familiesKeyword">Families and Libraries</label></td>
                            <td class="keywordCell">
                                <input type="checkbox" id="renoKeyword" value="Library Renovations"
                                    data-bind="checked: story.preset_keywords">
                                <label for="renoKeyword">Library Renovations</label></td>
                        </tr>
                        <tr>
                            <td class="keywordCell">
                                <input type="checkbox" id="librariansKeyword" value="Librarians" 
                                    data-bind="checked: story.preset_keywords"> 
                                <label for="librariansKeyword">Librarians</label></td>
                            <td class="keywordCell">
                                <input type="checkbox" id="readingKeyword" value="Reading" 
                                    data-bind="checked: story.preset_keywords"> 
                                <label for="readingKeyword">Reading</label></td>
                        </tr>
                    </table>
                    
                    <p><label for="customKeywords">Enter your own:</label></p>
                    <input class="form-input text" type="text" id="custom_keywords" name="custom_keywords" size="50"
                        data-bind="value: story.custom_keywords" ><br>
                    <span class="hintText">(Separated by commas)</span>
                </div>
            </p>

            <p>
                <input type="checkbox" id="anonymousInd" data-bind="checked: story.anonymous_ind">
                <label for="anonymousInd">Check if you wish to remain anonymous.</label>
            </p>
            
            <button data-bind="click: submitStory">Upload</button><br>

            <p class="hintText"><a href="/timemap/">(Click here to cancel and return to the TimeMap)</a></p>
            
        </form>
    </div>
</div>