<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>Home</title>

	<!-- Styling -->
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/reset.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/epl-general.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/timemap.less" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/styles/timeline.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/jPlayer-skin/jplayer.blue.monday.css" />

	<!-- General Libraries -->
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/require-jquery.js" data-main="/static/js/init-hyq.js"></script>

    </head>
<body>
    
</body>
</html>
