<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>Home</title>

	<!-- Styling -->
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/reset.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/epl-general.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/hyq.less" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/styles/timeline.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/jPlayer-skin/jplayer.blue.monday.css" />

	<!-- General Libraries -->
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/require-jquery.js" data-main="/static/js/init-hyq.js"></script>
    <script>
        var KEYS = {{ KEYS }};
    </script>

    </head>
<body>
	<div id="epl-bar">
		    <a href="http://www.epl.ca/"><img class="logo" src="/static/images/epl-logo.png" alt="EPL Logo"/></a>
		    <ul class="buttons">
	            <li class="help" onClick="window.open('{{ STATIC_URL }}views/help.html', '_blank', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=700px,height=800px');">Help</li>
				<li data-role="account">
					<img class="icon"/>
					<span data-role="name">Login</span>
					<div class="menu" data-bind="authenticateSubmit: {username: 'auth-username', password: 'auth-password'}">
						<p class="section-title">Authenticate</p>
	                    <form method="post" action="#" data-bind="loginForm: true">
	    					<input id="auth-username" data-role="username" type="text" class="epl-input text" data-default-text="Username" />
	    					<input id="auth-password" data-role="password" type="password" class="epl-input text" data-default-text="Password" />
	    					<input type="submit" class="save-button" value="Log In" />
	                    </form>
						<div class="save-button-space"></div>
					</div>
				</li>
		    </ul>
		    <div class="fb-like" data-send="true" data-bind="attr: {'data-href': Settings.siteUrl}" data-width="250" data-show-faces="false" data-font="arial"></div>
		<div id="timeline" data-bind="style: {height: Environment.chrome.timeline.height() + 'px'}, css: {active: Environment.chrome.timeline.height() > 0}"></div>
	</div>
	<div id="dashboard">
		<div id="info-panel">
			<div class="profile">
				<div class="title">Profile</div>
				<ul>
					<li>
						<span class="field">Username: </span>
						<span class="value" data-bind="text: Environment.user().username"></span>
					</li>
					<li>
						<span class="field">Email: </span>
						<span class="value" data-bind="text: Environment.user().email"></span>
					</li>
				</ul>
			</div>
			<div class="rank">
				<div class="text">Level</div>
				<div class="number" data-bind="text: Environment.user().level"></div>
			</div>
			<div class="rank">
				<div class="text">Points to Next Level</div>
				<div class="number" data-bind="text: completionPoints() - Environment.user().points"></div>
			</div>
			<div class="rank">
				<div class="text">Enter Quest Code</div>
				<div class="controls">
					<input type="text" class="code" data-bind="checkCode: true, text: 'test'" />
				</div>
			</div>
		</div>
		<h1>Featured Quest Sets</h1>
		<div class="iosSlider featured-quests" data-bind="iosSlider: true">
			<div class="slider">
				<!-- ko foreach: {data: featuredQuests, afterRender: initFeaturedSlider} -->
					<div class="slide current-quest">
						<div class="progress-container">
							<div class="progress-bar" data-bind="style: {width: ((completedPoints/totalPoints) * $root.widgetWidth) + 'px'}"></div>
						</div>
						<div class="title" data-bind="text: title"></div>
						<ul>
							<!-- ko foreach: quests -->
								<!-- ko if: $index() <= 3 -->
							<li>
								<div class="quest-description">
									<span data-bind="text: title"></span>
								</div>
								<div class="completion-count" data-bind="text: completedPoints + '/' + totalPoints"></div>
							</li>
								<!-- /ko -->
							<!-- /ko -->
						</ul>
					</div>
				<!-- /ko -->
			</div>
		</div>
		<h1>Active Quest Sets</h1>
		<div class="iosSlider active-quests" data-bind="iosSlider: true">
			<div class="slider">
				<!-- ko foreach: {data: activeQuests, afterRender: initActiveSlider} -->
					<div class="slide current-quest">
						<div class="progress-container">
							<div class="progress-bar" data-bind="style: {width: ((completedPoints/totalPoints) * $root.widgetWidth) + 'px'}"></div>
						</div>
						<div class="title" data-bind="text: title"></div>
						<ul>
							<!-- ko foreach: quests -->
								<!-- ko if: $index() <= 3 -->
							<li>
								<div class="quest-description">
									<span data-bind="text: title"></span>
								</div>
								<div class="completion-count" data-bind="text: completedPoints + '/' + totalPoints"></div>
							</li>
								<!-- /ko -->
							<!-- /ko -->
						</ul>
					</div>
				<!-- /ko -->
			</div>
		</div>
		<div data-role="viewport"></div>   
		<h1>Completed Quest Sets</h1>
		<table id="completed-quests">
			<thead>
				<tr>
					<th data-bind="sortQuests: {column: 'date'}">Date</th>
					<th data-bind="sortQuests: {column: 'title'}">Quest</th>
					<th data-bind="sortQuests: {column: 'points'}">Points</th>
				</tr>
			</thead>
			<tbody>
				<!-- ko foreach: {data: completedQuests} -->
				<tr data-bind="css: {'row-even': $index()%2 == 0, 'row-odd': $index()%2 != 0}">
					<td data-bind="text: date_completed">0</td>
					<td data-bind="text: title"></td>
					<td data-bind="text: points"></td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>
</body>
</html>
