<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<!-- Styling -->
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/reset.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/epl-general.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/timemap.less" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/styles/timeline.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/jPlayer-skin/jplayer.blue.monday.css" />

	<!-- General Libraries -->
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/require-jquery.js" data-main="/static/js/init.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150662938425048";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
</head>
<body>
	<div data-role="viewport"></div>

</body>
</html>
