<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>Home</title>

	<!-- Styling -->
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/reset.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/epl-general.less" />
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}/styles/timemap.less" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/styles/timeline.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/jPlayer-skin/jplayer.blue.monday.css" />

	<!-- General Libraries -->
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/require-jquery.js" data-main="/static/js/init.js"></script>

    </head>
<body>
    <div id="fb-root"></div>
    <div id="epl-bar">
    	    <a href="#"><img class="logo" src="/static/images/epl-logo.png" alt="EPL Logo"/></a>
    	    <ul class="buttons">
    			<li data-role="account">
    				<img class="icon"/>
    				Account
    				<div class="menu" data-bind="authenticateSubmit: {username: 'auth-username', password: 'auth-password'}">
    					<p class="section-title">Authenticate</p>
    					<input id="auth-username" type="text" class="epl-input text" data-default-text="Username" />
    					<input id="auth-password" type="password" class="epl-input text" data-default-text="Password" />
    					<button class="save-button">Log In</button>
    					<div class="save-button-space"></div>
    				</div>
    			</li>
    	    </ul>
    	    <div class="fb-like" data-href="http://eplcentennial.epl.ca" data-send="true" data-width="250" data-show-faces="false" data-font="arial"></div>
    	<div id="timeline" data-bind="style: {height: Environment.chrome.timeline.height() + 'px'}, css: {active: Environment.chrome.timeline.height() > 0}"></div>
    </div>
    <div id="tm-sidebar">
    	<div class="contents" data-bind="style: {marginTop: Environment.display.topBarHeight() + 'px'}">
    		<ul class="tabs">
    			<li class="tab" data-tab="features">
    				Features
    				<div class="indicator"></div>
    			</li>
    			<li class="tab" class="active" data-tab="search">
    				Search
    				<div class="indicator"></div>
    			</li>
    		</ul>
    		<div class="tab-containers">
    			<div class="tab-contents" data-tab="features">
    				<div class="results">
    					<div class="search-result">
    						<p class="title">No Stories</p>
    						<p class="description">No featured stories have been set.</p>
    					</div>
    				</div>
    			</div>
    			<div class="tab-contents" data-tab="search">
    				<input type="text" class="epl-input text search-box" data-default-text="Start typing to search..."/>
    				<div class="results">
    					<!-- ko ifnot: searchResults().length > 0 -->
    					<div class="search-result">
    						<p class="title">No results.</p>
    						<p class="description">Begin typing in the search box to narrow your query.</p>
    					</div>
    					<!-- /ko -->
    					<!-- ko foreach: {data: searchResults(), as: 'result'} -->
    					<div class="search-result">
    						<p class="title" data-bind="text: result.title"></p>
    						<p class="description" data-bind="text: result.description"></p>
    					</div>
    					<!-- /ko -->
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
	<div data-role="viewport" data-bind="
    style: {
        width: Environment.display.viewportWidth() + 'px',
        height: Environment.display.viewportHeight() + 'px'
    }"></div>
</body>
</html>
