<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>EPL Centennial TimeMap</title>

	<!-- Styling -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/reset.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/epl-general.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/timemap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/questPopUp.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/timeline.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/jPlayer-skin/jplayer.blue.monday.css" />

	<!-- General Libraries -->
    <script>
        var KEYS = {{ KEYS }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/require-jquery.js" data-main="/static/js/init-timemap.js"></script>
    <meta property='fb:app_id' content='150662938425048'/>

    <!-- Prevent page zooming on mobile devices -->
    <meta name="viewport" content="user-scalable=no" />
    <meta name="viewport" content="width=device-width" />

    <script>
        $.ajaxSetup({timeout: 200000});
    </script>

    <script>
        $(document).ready(function() {
            $('.menu-wrapper').css("max-height", ($(window).height() - 150) + 'px');
            $(window).resize(function () {
                $('.menu-wrapper').css("max-height", ($(window).height() - 150) + 'px');
            });
        });
    </script>

    <script>
        var globalLogOutFunction = new function(){};
    </script>
</head>
<body>

    <div id="fb-root"></div>
    <script>
		window.fbAsyncInit = function() {
			// init the FB JS SDK
			FB.init({
                appId      : KEYS.FB_KEY,
				//appId      : Settings.apiKeys.facebook.connect, // App ID from the App Dashboard
				//channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
				status     : true, // check the login status upon init?
				cookie     : true, // set sessions cookies to allow your server to access the session?
				xfbml      : true  // parse XFBML tags on this page?
			});
		};

		// Load the SDK's source Asynchronously
		// Note that the debug version is being actively developed and might
		// contain some type checks that are overly strict.
		// Please report such bugs using the bugs tool.
		(function(d, debug){
		   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		   if (d.getElementById(id)) {return;}
		   js = d.createElement('script'); js.id = id; js.async = false;
		   js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
		   ref.parentNode.insertBefore(js, ref);
		 }(document, /*debug*/ false));
    </script>
    <div id="epl-bar">
        <div>
            <a href="http://www.epl.ca/"><img class="logo" src="/static/images/epl-logo.png" alt="EPL Logo"/></a>
            <div id="siteTitle" class="siteTitle">
                <div class="timeMapTitle pageTitle active">
                    <div class="titleText">Centennial TimeMap</div>
                </div>
                <div class="hyqTitle pageTitle inactive">
                    <div class="titleText">Hundred Year Quest</div>
                </div>
            </div>
        </div>
        <ul class="buttons">
            <li class="button help" onClick="window.open('{{ STATIC_URL }}views/help.html', '_blank', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=700px,height=800px');">Help</li>
            <!-- ko  if: Environment.user() != null -->
            <li class="button" id="logoutbutton" onClick="globalLogOutFunction();">Log Out</li>
            <!-- /ko -->
            <li class="button" data-role="account">
                <span data-role="name" data-bind="text: Environment.user() == null ? 'Log In' : 'Manage'">Log In</span>
                <div class="menu">
                    <div class="menu-wrapper" data-bind="style: {'max-height': Environment.display.height() - 150 + 'px'}">
                        <div class="menu-section" data-role="authenticate-tabs" data-bind="css: {active: Environment.user() == null}">
                            <ul class="tabs" data-bind="eplBarTabs: true">
                                <li class="tab" data-tab="login" data-bind="css: {active: loginMenu.currentTab() != 'create-account'}">
                                    <div class="text">Login</div>
                                </li>
                                <li class="tab" data-tab="create-account" data-bind="css: {active: loginMenu.currentTab() == 'create-account'}">
                                    <div class="text">Create Account</div>
                                </li>
                            </ul>
                            <div class="tab-contents" data-tab="login" data-bind="css: {active: loginMenu.currentTab() != 'create-account'}">
                                <p class="section-title">Authenticate</p>
                                <form method="post" action="#" data-bind="loginForm: true">
                                    <p class="inputError indent" data-bind="if: loginError() == true">There was a problem logging you in. Check your credentials.</p>
                                    <input id="auth-username" data-role="username" type="text" class="epl-input text auto-focus" data-default-text="Username" />
                                    <input id="auth-password" data-role="password" type="password" class="epl-input text" data-default-text="Password" />
                                    <input type="submit" class="save-button" value="Log In" />
                                </form>
                                <div class="save-button-space"></div>
                            </div>
                            <div class="tab-contents" data-tab="create-account" data-bind="css: {active: loginMenu.currentTab() == 'create-account'}">
                                <p class="section-title">Create Account</p>
                                <form>
                                    <p>If you do not have an EPL card, you can create your own account for the TimeMap below:</p>

                                    <p class="inputError" id="ajaxErrorCreateAccount"></p>
                                    
                                    <p>
                                        <label for="firstName" class="form-label">First Name: <span class="required">*</span></label>
                                        <input type="text" class="form-input text" id="firstName" maxLength="30"
                                            data-bind="value: createAccount.account.firstname"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.firstname"></p>
                                    
                                    <p>
                                        <label for="lastName" class="form-label">Last Name: <span class="required">*</span></label>
                                        <input type="text" class="form-input text" id="lastName" maxLength="30"
                                            data-bind="value: createAccount.account.lastname"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.lastname"></p>

                                    <p>
                                        <label for="email" class="form-label">Email: <span class="required">*</span></label>
                                        <input type="text" class="form-input text" id="email" 
                                             data-bind="value: createAccount.account.email"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.email"></p>
                                    
                                    <p>
                                        <label for="username" class="form-label">Username: <span class="required">*</span></label>
                                        <input type="text" class="form-input text" id="username" maxLength="30"
                                            data-bind="value: createAccount.account.username"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.username"></p>
                                    
                                    <p>
                                        <label for="password" class="form-label">Password: <span class="required">*</span></label>
                                        <input type="password" class="form-input text" id="password" maxLength="30"
                                            data-bind="value: createAccount.account.password"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.password"></p>
                                    
                                    <p>
                                        <label for="confirmPassword" class="form-label">Confirm Password: <span class="required">*</span></label>
                                        <input type="password" class="form-input text" id="confirmPassword" maxLength="30"
                                            data-bind="value: createAccount.account.passwordConfirmation"/>
                                    </p>
                                    <p class="inputError indent" data-bind="validationMessage: createAccount.account.passwordConfirmation"></p>
                                    
                                    <p>
                                        <input type="checkbox" id="agreeToTerms" data-bind="checked: createAccount.account.agreeToTerms">
                                        <label for="agreeToTerms">I agree to the 
                                            <a href="/static/views/termsAndConditions.html" target="_blank" id="termsAndConditions">Terms and Conditions</a>.
                                        </label>
                                    </p>
                                    <p class="inputError" data-bind="validationMessage: createAccount.account.agreeToTerms"></p>

                                    <div>
                                        <p>As a security measure to prevent spam account creation, please complete the Captcha below:</p>
                                        <div id="recaptcha-section"/>
                                    </div>

                                    <p><input class="save-button" type="submit" id="createAccountSubmit" data-bind="click: createAccount.createAccountSubmit" value="Create Account"></p>
                                    
                                    <p>You will receive an email to confirm your new account.</p>
                                </form>
                                <div class="save-button-space"></div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-section" data-role="management-tabs" data-bind="css: {active: Environment.user() != null}">
                        <ul class="tabs" data-bind="eplBarTabs: true">
                            <li class="tab" data-tab="manage" data-bind="css: {active: loginMenu.currentTab() != 'link'}">
                                <div class="text">Manage Account</div>
                            </li>
                            <li class="tab" data-tab="link" data-bind="css: {active: loginMenu.currentTab() == 'link'}">
                                <div class="text">Link to EPL Account</div>
                            </li>
                        </ul>
                        
                        <div class="tab-contents" data-tab="login" data-bind="css: {active: loginMenu.currentTab() != 'link'}">
                            <p class="section-title">Edit Account Information</p>
                            <form>
                            <p class="inputSuccess" data-bind="if: manageAccount.changed">Your account has been successfully updated!</p>
                            <p class="inputError" id="ajaxError"></p>
                            
                            <p>
                                <label for="username" class="form-label">Username:</label>
                                <span id="username" data-bind="text: manageAccount.account.username"/>
                            </p>

                            <p>
                                <label for="firstName" class="form-label">First Name: 
                                <span class="required">*</span></label>
                                <input type="text" class="form-input text" id="firstName" maxLength="30"
                                    data-bind="value: manageAccount.account.firstname"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.firstname"></p>
                            
                            <p>
                                <label for="lastName" class="form-label">Last Name: 
                                <span class="required">*</span></label>
                                <input type="text" class="form-input text" id="lastName" maxLength="30"
                                    data-bind="value: manageAccount.account.lastname"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.lastname"></p>

                            <p class="section-title">Edit Account Information</p>

                            <p class="hintText">Enter your current password to change your password or your email.</p>

                            <p>
                                <label for="oldPassword" class="form-label">Current Password:</label>
                                <input type="password" class="form-input text" id="oldPassword" maxLength="30"
                                    data-bind="value: manageAccount.account.oldpassword"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.oldpassword"></p>

                            <p>
                                <label for="email" class="form-label">Email:
                                <span class="required" data-bind="visible: manageAccount.account.oldpassword() != '' && manageAccount.account.oldpassword.isValid()">*</span></label>
                                <input type="text" class="form-input text" id="email" 
                                     data-bind="value: manageAccount.account.email, enable: manageAccount.account.oldpassword() != '' && manageAccount.account.oldpassword.isValid()"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.email"></p>
                            
                            <p>
                                <label for="newPassword" class="form-label">New Password:</label>
                                <input type="password" class="form-input text" id="newPassword" maxLength="30"
                                    data-bind="value: manageAccount.account.newpassword, enable: manageAccount.account.oldpassword() != '' && manageAccount.account.oldpassword.isValid()"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.newpassword"></p>
                            
                            <p>
                                <label for="confirmPassword" class="form-label">Confirm Password:
                                <span class="required" data-bind="visible: manageAccount.account.newpassword() != ''">*</span>
                                </label>
                                <input type="password" class="form-input text" id="confirmPassword" maxLength="30"
                                    data-bind="value: manageAccount.account.passwordconfirmation, enable: manageAccount.account.oldpassword() != '' && manageAccount.account.oldpassword.isValid()"/>
                            </p>
                            <p class="inputError indent" data-bind="validationMessage: manageAccount.account.passwordconfirmation"></p>
                            
                            <div class="save-button-space"></div>
                            <p><input type="submit" class="save-button" data-bind="click: manageAccount.submit" value="Save Changes"/></p>
                            </form>
                        </div>
                        <div class="tab-contents" data-tab="login" data-bind="css: {active: loginMenu.currentTab() == 'link'}">
                            <div data-bind="style: {display: (Environment.user() != null && Environment.user().bibliolink == false) ? 'block' : 'none'}">
                                <p class="section-title">Link Your Centennial and EPL Accounts</p>
                                <form data-bind="linkForm: true">
                                    <p class="inputError indent" data-bind="if: linkError() == true">There was a problem linking your EPL account. Check your credentials.</p>
                                    <p>
                                        <label for="eplUsername">EPL Username:</label>
                                        <input id="eplUsername" data-role="username" type="text" class="form-input text" data-default-text="Username" />
                                    </p>
                                    <p>
                                        <label for="eplUsername">EPL Password:</label>
                                        <input id="eplPassword" data-role="password" type="password" class="form-input text" data-default-text="Password" />
                                    </p>
                                    <div class="save-button-space"></div>
                                    <p><input type="submit" class="save-button" value="Link to EPL"/></p>
                                </form>
                            </div>
                            <div data-bind="style: {display: (Environment.user() != null && Environment.user().bibliolink == true) ? 'block' : 'none'}">
                                <p class="section-title">You have successfully linked your EPL account.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <div class="fb-like" data-send="true" data-bind="attr: {'data-href': baseURL()}" data-width="250" data-show-faces="false" data-font="arial"></div>
        <div id="timeline" data-bind="style: {height: Environment.chrome.timeline.height() + 'px'}, css: {active: Environment.chrome.timeline.height() > 0}"></div>
    </div>
    <div id="tm-sidebar">
    	<div class="contents" data-bind="style: {marginTop: Environment.display.topBarHeight() + 'px'}">
    		<ul class="tabs">
    			<li class="tab sidebar-tab" data-tab="features">
    				Featured
    				<div class="indicator"></div>
    			</li>
    			<li class="tab sidebar-tab" class="active" data-tab="search">
    				Search
    				<div class="indicator"></div>
    			</li>
    		</ul>
    		<div class="tab-containers">
    			<div class="tab-contents sidebar-tab" data-tab="features">
    				<div class="results" data-bind="style: {height: featuredHeight() + 'px'}">
                        <!-- ko ifnot: featuredStories().length > 0 -->
                            <div class="search-result">
                                <p class="title">No Stories</p>
                                <p class="description">No featured stories have been set.</p>
                            </div>
                        <!-- /ko -->
                        <!-- ko foreach: {data: featuredStories(), as: 'result'} -->
                        <div class="search-result linked" data-bind="click: $root.featuredClick, style: {'z-index' : $root.featuredStories().length - $index()}, attr: {class: 'search-result linked ' + result.story.content_type}">
                            <p class="title" data-bind="text: result.story.title"></p>
                            <p class="description" data-bind="text: result.story.description"></p>
                        </div>
                        <!-- /ko -->
                    </div>
    			</div>
    			<div class="tab-contents sidebar-tab" data-tab="search">
    				<input type="text" id="search-box-text" class="epl-input text search-box" data-default-text="Start typing to search..."/>
                    <div id="search-year-range">
                        <input type="text" id="search-year-start" class="epl-input text search-box-year-start" data-default-text="Min Year" maxLength="4"/> -
                        <input type="text" id="search-year-end" class="epl-input text search-box-year-end" data-default-text="Max Year" maxLength="4"/>
                    </div>
                    <select id="search-box-content-type" class="epl-input select search-select">
                        <option value="">Filter by content type...</option>
                        <option>Audio</option>
                        <option>Image</option>
                        <option>Link</option>
                        <option>PDF</option>
                        <option>Text</option>
                        <option>Video</option>
                    </select>

                    <div class="results" data-bind="style: {height: searchHeight() + 'px'}">
    					<!-- ko ifnot: searchResults().length > 0 -->
    					<div class="search-result">
    						<p class="title">No results.</p>
    						<p class="description">Begin typing in the search box to narrow your query.</p>
    					</div>
    					<!-- /ko -->
    					<!-- ko foreach: {data: searchResults(), as: 'result'} -->
    					<div class="search-result linked" data-bind="click: $root.resultClick, style: {'z-index' : $root.searchResults().length - $index()}, attr: {class: 'search-result linked ' + result.content_type}">
                            <p class="title" data-bind="text: result.title"></p>
                            <!-- ko if: result.branch != null -->
    						<p class="branch-name" data-bind="text: result.branch.name"></p>
                            <!-- /ko -->
                            <!-- ko if: result.description.length > 200 -->
        						<p class="description" data-bind="text: result.description.substring(0, 200) + ' ...'"></p>
                            <!-- /ko -->
                            <!-- ko if: result.description.length <= 200 -->
                                <p class="description" data-bind="text: result.description"></p>
                            <!-- /ko -->
    					</div>
    					<!-- /ko -->
    				</div>
    			</div>
    		</div>
            <div>
                <button onClick="window.location='#uploadStory'">Submit a Story</button>
            </div>
        </div>
    </div>
	<div data-role="viewport" data-bind="
    style: {
        width: Environment.display.viewportWidth() + 'px',
        height: Environment.display.viewportHeight() + 'px'
    }"></div>

    <div id="questPopUp" class="questPopUp">
        <img src="/static/images/x.png" class="questPopUpCloseButton"></img>
        <div class="questPopUpText">
            <div class="questPopUpTitle"></div>
            <div class="questPopUpDescription"></div>
        </div>
        <div class="questPopUpPointsDisplay">
            <div class="questPopUpPts">pts</div>
            <div class="questPopUpPoints questPopUpPts"></div>
        </div>
        <div class="questPopUpArrows">
            <img src="/static/images/arrow_right.png" class="questPopUpRightArrow questPopUpFloatingNumbers"></img>
            <div class="questPopUpTotalNumber questPopUpFloatingNumbers"></div>
            <div class="questPopUpFloatingNumbers">/</div>
            <div class="questPopUpCurrentNumber questPopUpFloatingNumbers"></div>
            <img src="/static/images/arrow_left.png" class="questPopUpLeftArrow questPopUpFloatingNumbers"></img>
        </div>
    </div>
</body>
</html>
