//==========================//
// Cross-Browser Facilities //
//==========================//

/* Prevent outset borders -- allows precise element sizing */
div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.x-box-shadow (@x, @y, @radius, @size, @color, @inset) when (@inset = true) {
	box-shadow: inset @x @y @radius @size @color;
	-webkit-box-shadow: inset @x @y @radius @size @color;
}

.x-box-shadow (@x, @y, @radius, @size, @color, @inset) when (@inset = false) {
	box-shadow: @x @y @radius @size @color;
	-webkit-box-shadow: @x @y @radius @size @color;
}

.x-border-radius (@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;

	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; background-clip: padding-box;
}

.x-border-bottom-left-radius (@radius) {
	border-bottom-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;

	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; background-clip: padding-box;
}

.x-border-bottom-right-radius (@radius) {
	border-bottom-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;

	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; background-clip: padding-box;
}

.x-border-top-left-radius (@radius) {
	border-top-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;

	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; background-clip: padding-box;
}

.x-border-top-right-radius (@radius) {
	border-top-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;

	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; background-clip: padding-box;
}

.x-gradient (@color1, @color2) {
	background-color: @color1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, @color1, @color2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image:    -moz-linear-gradient(top, @color1, @color2); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, @color1, @color2); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, @color1, @color2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

//==========================//
// General Element Styles   //
//==========================//

.epl-input {
	@inputHeight: 30px;
	@inputBackgroundColor: white;
	@inputBorderColor: lighten(gray, 30%);
	width: 300px;
	height: @inputHeight;
	display: block;
	border: solid 1px @inputBorderColor;
	color: lighten(gray, 15%);
	position: relative;

	&.text {
		.x-border-radius(30px);
		padding: 3px 12px;
		outline: none;
		font-style: italic;
		background-color: @inputBackgroundColor;

		//When text has been entered, the text should be more prominent
		&.text-entered {
			font-style: normal;
			color: darken(gray, 5%);
		}

		&:focus {
			.x-box-shadow(0, 0, 5px, 0, rgba(0,0,0,0.15), false);
		}
	}

	&.select {
		@optionPaddingVertical: 4px;
		@optionPaddingHorizontal: 12px;
		@borderWidth: 1px;
		@selectHeight: @inputHeight + (2 * @optionPaddingVertical);
		height: @selectHeight + @borderWidth;
		padding: none;
		border: none;
		overflow: hidden;
		background-color: none;
		position: relative; /* To allow for drop-down positioning */
		z-index: 1000;

		.option-list {
			padding: 0 2px 0 0; /* Fit the borders of the option elements */
			height: auto;
			width: 100%;
			position: absolute;
			top: 0;
		}

		.option {
			width: 100%;
			height: @selectHeight;
			.x-border-radius(30px);
			border: solid @borderWidth @inputBorderColor;
			background-color: @inputBackgroundColor;
			display: none;
			cursor: default;
			
			/* To collapse borders between option elements */
			margin-top: -1px;
			&:first-child {
				margin-top: 1px;
			}
			/* End of collapsing */

			&.option-selected {
				display: block;
			}

			&:hover, &.hover {
				background-color: darken(@inputBackgroundColor, 10%);
			}

			.option-contents {
				height: @inputHeight;
				margin: @optionPaddingVertical @optionPaddingHorizontal;
				padding: 6px 0;
				color: darken(@inputBorderColor, 30%);
			}
		}

		&.select-active {

			overflow: visible;

			.option {
				.x-border-radius(0px);
				display: block;
			}

			.option-selected {
				background-color: darken(@inputBackgroundColor, 5%);
				border-bottom-width: 3px;
			}

		}
	}
}

#epl-bar {
	@eplBarHeight: 40px;
	width: 100%;
	// height: @topBarHeight;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: @pageBackground;
  	.x-box-shadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.2), false);

  	.logo {
  		@logoMargin: 10px;
  		height: @eplBarHeight;
  		margin: @logoMargin;
  		display: table-cell;
  		text-align: center;
  		vertical-align: middle;
  		font-size: 20px;
  		float: left;
  	}

  	.buttons {
  		height: @eplBarHeight;
  		float: right;
  		margin: ((@eplBarHeight / 4 + 2)) (@eplBarHeight / 4) 0 0;
  		list-style-type: none;
  		padding: 0;

  		li.button {
  			.shiny-button();

  			.menu {
  				@menuBackground: #F5F5F5;
  				@saveButtonHeight: 35px;
  				padding: 50px 10px 10px 10px;
  				position: absolute;
  				right: -1px;
  				top: 33px;
  				background-color: @menuBackground;
  				border: solid 1px darken(@menuBackground, 23%);
  				min-width: 348px;
  				min-height: 100px;
  				overflow: auto;
				.x-box-shadow(0, 0, 40px, 0px, rgba(0,0,0,0.3), false);
				display: none;
				z-index: 999;

				.menu-section {
					display: none;
					&.active {
						display: block;
					}
				}

				.menu-wrapper {
					overflow: auto;
					width: 400px;
					max-height: 800px;
				}

				.tabs {
					list-style-type: none;
					width: 100%;
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;

					li {
						@tabBackground: darken(desaturate(@epl-blue, 30%), 10%);
						@tabTextColor: white;
						width: 50%;
						float: left;
						background-color: @tabBackground;
						cursor: pointer;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
						.x-box-shadow(0, -3px, 4px, -2px, rgba(0,0,0,0.2), true);

						&.active {
							background-color: darken(@tabBackground, 10%);
						}

						&:hover {
							background-color: darken(@tabBackground, 20%);
						}

						.text {
							padding: 10px;
							text-align: center;
							color: @tabTextColor;

						}
					}
				}

				.tab-contents {
					@required-error-color: #3394ff;
					@hint-color: #6299d6;
					display: none;

					&.active {
						display: block;
					}

					.form-input {
						border: solid 1px lighten(gray, 30%);
						.x-border-radius(14px);
						&.text  {
							height: 25px;
							padding: 3px 12px;
						}
						&.textarea {
							height: 70px;
							padding: 10px 12px;
						}
						&.date {
							width: 45px;
							height: 25px;
							padding: 0px 5px;
							text-align: center;
						}
						&:focus {
							.x-box-shadow(0, 0, 10px, 0, rgba(0,0,0,0.8), false);
						}
					}

					.epl-input {
						width: 373px;
					}

					label.form-label {
						display: inline-block;
						text-align: right;
						width: 160px;
					}

					.required, .inputError {
						color: @required-error-color;
					}

					.inputSuccess {
						color: darken(@epl-green, 20%);
					}

					.hintText {
						font-size: 12px;
						color: @hint-color;
					}
				}

				.section-title {
					font-size: 16px;
					font-weight: 900;
					margin: 4px 0 10px 0;
				}

				.epl-input.text {
					margin-top: 6px;
				}

				.save-button-space {
					height:@saveButtonHeight;
					clear: both;
				}

				.save-button {
					height: @saveButtonHeight;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					background-color: darken(@menuBackground, 10%);
					border: none;
					border-top: solid 1px darken(@menuBackground, 25%);
					color: darken(@menuBackground, 45%);

					&:hover {
						background-color: darken(@menuBackground, 70%);
						color: white;
						border-color: darken(@menuBackground, 75%);
					}
				}
  			}

  			&:hover {
  				background-color: darken(@buttonBackground, 10%);
	  			.x-gradient(@buttonBackground, darken(@buttonBackground, 10%));
	  			box-shadow: inset 0 0 0 1px lighten(@buttonBackground, 4%), 1px 1px 3px rgba(0,0,0,0.2);
	  			color: darken(@buttonBackground, 55%);
	  			border-color: darken(@buttonBackground, 35%);
  			}

  			&.active {
  				.menu {
  					display: block;
  				}
  			}
  			
  		}
  	}
}

.siteTitle {
	font-size: 16px;
	font-family: 'Lucida Grande', 'Bookman Old Style', Tahoma, Verdana, Arial, sans-serif;
	float: left;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 3px;
	cursor: pointer;

	.pageTitle {
		float: top;
		border: solid #bbbbbb 1px;
		position: relative;
		text-align: center;

		&:first-child{
			border-bottom: none;
		}

		&.active {
			@background: #cccccc;
			background-color: @background;
			font-weight: bold;
			color: #444444;

			&:hover {
				background-color:darken(@background, 10%);
			}
		}

		&.inactive {
			@background: #eeeeee;
			@textcolour: #aaaaaa;
			.x-box-shadow(0, 3px, 4px, -2px, rgba(0,0,0,0.2), false);
			background-color: @background;
			color: @textcolour;

			&:hover {
				background-color:darken(@background, 10%);
				color: darken(@textcolour, 10%);
			}
		}
	}

	.timeMapTitle {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		z-index: 2;
	}

	.hyqTitle {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		z-index: 1;
	}

	.titleText {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.shiny-button() {
	@fontSize: 13px;
	//-4 just because... Something to do with text sizing, I suppose
	@padding: 13px;
	@heightAdjust: 4px;
	padding:(@padding - @heightAdjust) @padding (@padding - @heightAdjust) @padding;
	margin: -2px 0 0 6px;
	background-color: @buttonBackground;
	display: inline;
	float: right;
	cursor: default;
	color: darken(@buttonBackground, 50%);
	border: solid @buttonBorderWidth darken(@buttonBackground, 30%);
	box-shadow: inset 0 0 0 1px white, 1px 1px 3px rgba(0,0,0,0.2);
	.x-border-radius(@buttonRadius);
	.x-gradient(lighten(@buttonBackground, 3%), darken(@buttonBackground, 3%));
	position: relative;
	// overflow: hidden;
	z-index: 1000;
}

.top {
    vertical-align:text-top;
}

.center {
	text-align: center;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.error {
    color: #3394ff;
}

//==========================//
// Page Settings            //
//==========================//

@buttonBackground: #DEDEDE;
@buttonRadius: 3px;
@buttonBorderWidth: 1px;

@pageBackground: white;
@sidebarWidth: 350px; //Also change in Environment
@topBarHeight: 139px; //Also change in Environment
@topBarHeight-small: 60px;
@font: Arial;

@epl-yellow: #F2D633;
@epl-green: #7DD145;
@epl-pink: #DB1A5B;
@epl-purple: #633280;
@epl-blue: #34A9E3;
@epl-gray: gray;
@epl-orange: #CF7704;