@import "epl-general.less";

body {
	margin-top: @topBarHeight-small;
}

/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	
	height: @questWidgetHeight;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
	height: 100%;
}

/* slide */
.iosSlider .slider .slide {
	/* required */
	float: left;
}

#info-panel {
	@panelBackground: rgb(220,220,220);
	@panelHeight: 80px;
	background-color: @panelBackground;
	height: @panelHeight;
	.x-box-shadow(0, -2px, 4px, 0, rgba(0,0,0,0.2), true);
	position: relative;

	.profile {
		float: left;

		.title {
			font-weight: bold;
			font-size: @panelHeight;
			color: darken(@panelBackground, 5%);
			position: absolute;
			top: -10px;
			left: 0;
			z-index: 0;
		}

		ul {
			list-style-type: none;
			padding: 0 0 0 12px;
			position: relative;
			z-index: 2;

			li {
				.field {
					font-weight: bold;
				}

				.value {

				}
			}
		}
	}

	.rank {
		float: right;
		background-color: darken(@panelBackground, 15%);
		height: @panelHeight;
		.x-box-shadow(0, -2px, 4px, 0, rgba(0,0,0,0.2), true);
		margin-left: 3px;
		position: relative;
		z-index: 3;

		.text {
			background-color: darken(@panelBackground, 25%);
			height: 23px;
			line-height: 25px;
			font-size: 18px;
			padding: 0 10px;
			text-align: center;
		}

		.controls {
			font-size: 14px;

			input, button {
				font-size: @panelHeight - 45px;
				border: solid 1px darken(@panelBackground, 30%);
				margin: 5px 5px 5px 0;
				padding: 5px;
				height: @panelHeight - 45px;

				&:first-child {
					margin-left: 5px;
				}
			}

			input[type=text] {

				&.code {
					width: 205px;
					float: left;
				}
			}

			button {
				font-size: 25px;
			}
		}

		.number {
			padding: 0 10px;
			font-size: 50px;
			text-align: center;
		}
	}

	.progress {
		float: right;
		background-color: darken(@panelBackground, 15%);
		height: @panelHeight;
		.x-box-shadow(0, -2px, 4px, 0, rgba(0,0,0,0.2), true);
		margin-right: 3px;

		.title {
			background-color: darken(@panelBackground, 25%);
			height: 23px;
			line-height: 25px;
			font-size: 18px;
			padding: 0 10px;
			text-align: center;
			margin-bottom: 5px;
		}

		.contents {
			padding: 0 10px;
			font-size: 14px;
		}
	}
}

.featured-quest {
	@questWidgetColor: @epl-green;

	width: @questWidgetWidth;
	height: @questWidgetHeight;
	background-color: @questWidgetColor;
	margin: 10px;
}

.current-quest {
	@questBackgroundColor: desaturate(lighten(@questWidgetColor, 30%),30%);
	width: @questWidgetWidth;
	height: @questWidgetHeight;
	background-color: @questBackgroundColor;
	margin: 10px;

	.title {
		padding: 10px;
		font-size: 22px;
		font-weight: bold;
		color: darken(@questWidgetColor, 30%);
	}

	.progress-container {
		height: 10px;
		background-color: desaturate(lighten(@questWidgetColor, 20%), 20%);
		border-bottom: solid 1px darken(@questWidgetColor, 10%);
		.x-box-shadow(0, 1px, 0, 0, rgba(0,0,0,0.1), false);

		.progress-bar {
			height: 100%;
			width: 180px;
			background-color: @questWidgetColor;
		}
	}

	ul {
		@tileMargin: 10px;
		//The list of tiles needs to accomodate the left tile margin being added as padding:;
		@tileListWidth: @questWidgetWidth - (@tileMargin);
		padding: 0 0 0 @tileMargin;
		list-style-type: none;
		margin: 0;

		li {
			//Need to fit 3 tiles (width/3) and each tile has a left margin
			@tileWidth: (@tileListWidth / 3) - (@tileMargin);
			@descriptionHeight: @tileWidth - 40;
			@countHeight: @tileWidth - @descriptionHeight;
			@hoverBorderWidth: 2px;				
			margin-left: @tileMargin;
			float: left;
			width: @tileWidth;
			height: @tileWidth;
			background-color: @questWidgetColor;
			cursor: pointer;
			overflow: hidden;

			&:first-child {
				margin-left: 0;

				&:hover {
					margin-left: -(@hoverBorderWidth);
				}
			}

			&:hover {
				border: solid (@hoverBorderWidth) darken(@questWidgetColor, 20%);
				margin: -(@hoverBorderWidth) -(@hoverBorderWidth) -(@hoverBorderWidth) (@tileMargin - (@hoverBorderWidth));
			}

			.quest-description {
				@descriptionPadding: 6px;
				height: @descriptionHeight;
				line-height: @descriptionHeight - (2 * @descriptionPadding);
				padding: @descriptionPadding 0;
				color: lighten(@questWidgetColor, 40%);
				text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
				font-size: 13px;
				text-align: center;
				background-color: lighten(@questWidgetColor, 10%);
				border-bottom: solid 1px lighten(@questWidgetColor, 15%);
				padding: 0 4px;
				overflow: hidden;
				.x-box-shadow(0, 1px, 4px, 0, rgba(0,0,0,0.2), false);

				span {
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
				}
			}

			.completion-count {
				font-size: 30px;
				text-align: center;
				height: @countHeight;
				line-height: @countHeight;
				color: lighten(@questWidgetColor, 40%);
				font-weight: bold;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			}
		}
	}
}

h1 {
	color: rgb(50,50,50);
	font-size: 25px;
	padding: 10px;
	margin: 0;
}

table#completed-quests {

	width: 100%;
	text-align: left;

	thead {
		background-color: @questWidgetColor;

		th {
			padding: 10px;
			cursor: pointer;
		}
	}

	tbody {
		tr {
			&.row-even {
				background-color: desaturate(lighten(@questWidgetColor, 20%), 25%);
			}
			&.row-odd {
				background-color: desaturate(lighten(@questWidgetColor, 30%), 25%);
			}

			td {
				padding: 7px;
			}
		}
	}
}

.quest-set-viewer {
	@background: #F0F0F0;
	background-color: @background;
	overflow: auto;
	width: 900px;
	.quest-set-header {
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		padding: 10px 0px 10px 0px;
		background-color: darken(@background, 10);
	}
	.quest-set-title {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.quest-set-points {
		font-weight: bold;
		font-size: 40px;
		margin-top: 0px;
		margin-buttom: 0px;
		float: right;
		width: 40%; 
		text-align: right;
	}
	.quest-set-desc {
		margin-top: 0px;
		margin-buttom: 0px;
		height: 50px;
		float: left;
		width: 60%; 
		text-align: left;
	}
	.quest-set-content {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.quest-title {
		font-weight: bold;
		font-size: 25px;
		float: left; 
		width: 80%; 
		text-align: left;
	}
	.quest-points {
		font-weight: bold;
		font-size: 25px;
		float: right; 
		width: 20%; 
		text-align: right;
	}
	.quest-task {
		height: 50px;
	}
	.task-points {
		float: left; 
		width: 20%; 
		text-align: right;
	}
	.task-title {
		float: left;
		width: 80%;
		text-align: left;
	}
	.task-interaction {
		float: left;
		width: 80%;
		text-align: left;
		padding-left: 40px;
	}
	.error {
		color: red;
	}
	.success {
		color: green;
	}
	.hidden {
		display: none;
	}
	.visible {
		display: visible;
	}
}

@questWidgetColor: @epl-blue;
@questWidgetWidth: 400px;
@questWidgetHeight: 197px;