@import "epl-general.less";

body {
	margin-top: @topBarHeight-small;

	&.hyq-dashboard {
		background-color: lighten(desaturate(@epl-blue, 7%), 30%);
		padding-top: 1px;
	}
}

/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
	height: 100%;
}

/* slide */
.iosSlider .slider .slide {
	/* required */
	float: left;
}

#dashboard {
	@dashboardRadius: 4px;
	background-color: white;
	margin: 50px auto;
	.x-border-radius(@dashboardRadius);
	padding-bottom: 10px;

	.header {
		@headerHeight: 50px;
		height: @headerHeight;
		background-color: @epl-blue;
		background-image: linear-gradient(bottom, rgb(25,151,209) 6%, rgb(52,169,227) 77%);
		background-image: -o-linear-gradient(bottom, rgb(25,151,209) 6%, rgb(52,169,227) 77%);
		background-image: -moz-linear-gradient(bottom, rgb(25,151,209) 6%, rgb(52,169,227) 77%);
		background-image: -webkit-linear-gradient(bottom, rgb(25,151,209) 6%, rgb(52,169,227) 77%);
		background-image: -ms-linear-gradient(bottom, rgb(25,151,209) 6%, rgb(52,169,227) 77%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.06, rgb(25,151,209)),
			color-stop(0.77, rgb(52,169,227))
		);
		border: solid 1px darken(@epl-blue, 10%);
		overflow: hidden;
		.x-border-top-right-radius(@dashboardRadius);
		.x-border-top-left-radius(@dashboardRadius);

		.title {
			@headerFontSize: 20px;
			@headerPadding: 10px;
			@headerInnerHeight: @headerHeight - (2 * @headerPadding);
			padding: @headerPadding;
			color: white;
			line-height: @headerInnerHeight;
			font-size: @headerFontSize;
			font-weight: bold;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			float: left;
		}

		.enter-code {
			@codePadding: 8px;
			@codeMargin: 5px;
			float: right;
			border: none;
			padding: @codePadding;
			margin: @codeMargin;
			width: 200px;
			outline: none;
			background-color: lighten(desaturate(@epl-blue, 10%), 35%);
			.x-border-radius(@dashboardRadius);
			.x-box-shadow(2px,2px,2px,0,rgba(0,0,0,0.2),false);
			color: rgb(100,100,100);
			font-size: @headerHeight - (2*@codePadding) - (2*@codeMargin) - 6;
			font-style: italic;
			font-weight: normal;

			&.text-entered {
				font-size: 29px;
				padding: 2px @codePadding;
				font-weight: bold;
				font-style: normal;
			}
		}
	}
}

#info-panel {
	@panelBackground: lighten(desaturate(@epl-blue, 30%), 30%);
	@panelHeight: 200px;
	position: relative;
	padding: 0 10px;
	margin: 0 auto;
	border-bottom: dotted 2px rgb(200,200,200);

	.profile {
		float: left;

		.welcome-message {
			font-size: 25px;
			font-weight: bold;
			margin: 20px 15px 0 15px;
			color: rgb(60,60,60);
		}

		.secondary-message {
			color: rgb(115,115,115);
			font-style: italic;
			margin: 0 15px;
		}
	}

	.statistics {
		float: right;

		.stats-module {
			float: right;
			font-size: 18px;
			text-align: center;
			margin: 15px 0;
			border-right: solid 1px rgb(200,200,200);
			padding: 5px 15px;

			//The one on the right shouldn't have a separator
			&:first-child {
				border-right: none;
			}

			.title {
				color: rgb(60,60,60);
			}

			.value {
				color: @epl-orange;
				font-weight: bold;
				font-size: 25px;
			}
		}
	}

}

.quest-slider {
	@sliderBase: @epl-blue;
	margin: 10px auto;
	padding: 10px;
	overflow:hidden;
	background-color: rgb(235,235,235);

	.no-contents {
		color: rgb(130,130,130);
		padding: 10px;
	}
}

h2 {
	font-size: 35px;
	color: rgb(150,150,150);
	font-weight: bold;
	margin: 10px 0 -18px 33px;
	padding: 0;
}

.featured-quest {
	.quest-slide(@epl-blue);
}

.current-quest {
	.quest-slide(@epl-green);
}

.quest-slide(@questWidgetColor) {
	@questBackgroundColor: desaturate(lighten(@questWidgetColor, 30%),30%);
	width: @questWidgetWidth;
	height: @questWidgetHeight;
	background-color: darken(@questBackgroundColor, 5%);
	margin: 10px;
	.x-box-shadow(2px,2px,5px,0,rgba(0,0,0,0.4),false);
	border-bottom: solid 1px @questBackgroundColor;
	border-right: solid 1px @questBackgroundColor;

	.title {
		padding: 10px;
		font-size: 22px;
		font-weight: bold;
		color: darken(@questWidgetColor, 30%);
	}

	.progress-container {
		height: 10px;
		background-color: desaturate(lighten(@questWidgetColor, 20%), 20%);
		border-bottom: solid 1px darken(@questWidgetColor, 10%);
		.x-box-shadow(0, 1px, 0, 0, rgba(0,0,0,0.1), false);

		.progress-bar {
			height: 100%;
			width: 180px;
			background-color: @questWidgetColor;
		}
	}

	ul {
		@tileMargin: 10px;
		//The list of tiles needs to accomodate the left tile margin being added as padding:;
		@tileListWidth: @questWidgetWidth - (@tileMargin);
		padding: 0 0 0 @tileMargin;
		list-style-type: none;
		margin: 0;

		li {
			//Need to fit 3 tiles (width/3) and each tile has a left margin
			@tileWidth: (@tileListWidth / 3) - (@tileMargin);
			@descriptionHeight: @tileWidth - 40;
			@countHeight: @tileWidth - @descriptionHeight;
			@hoverBorderWidth: 2px;				
			margin-left: @tileMargin;
			float: left;
			width: @tileWidth;
			height: @tileWidth;
			background-color: @questWidgetColor;
			cursor: pointer;
			overflow: hidden;

			&:first-child {
				margin-left: 0;

				&:hover {
					margin-left: -(@hoverBorderWidth);
				}
			}

			&:hover {
				border: solid (@hoverBorderWidth) darken(@questWidgetColor, 20%);
				margin: -(@hoverBorderWidth) -(@hoverBorderWidth) -(@hoverBorderWidth) (@tileMargin - (@hoverBorderWidth));
			}

			.quest-description {
				@descriptionPadding: 6px;
				height: @descriptionHeight;
				line-height: @descriptionHeight - (2 * @descriptionPadding);
				padding: @descriptionPadding 0;
				color: lighten(@questWidgetColor, 40%);
				text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
				font-size: 13px;
				text-align: center;
				background-color: lighten(@questWidgetColor, 10%);
				border-bottom: solid 1px lighten(@questWidgetColor, 15%);
				padding: 0 4px;
				overflow: hidden;
				.x-box-shadow(0, 1px, 4px, 0, rgba(0,0,0,0.2), false);

				span {
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
				}
			}

			.completion-count {
				font-size: 24px;
				text-align: center;
				height: @countHeight;
				line-height: @countHeight;
				color: lighten(@questWidgetColor, 40%);
				font-weight: bold;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			}
		}
	}
}

h1 {
	color: rgb(2103,2103,2103);
	font-size: 35px;
	position: relative;
	z-index: 1000;
	margin: 0;
	padding: 0 0 0 8px;
}

table#completed-quests {

	width: 100%;
	text-align: left;

	thead {
		background-color: @questWidgetColor;
		color: white;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.7);

		th {
			padding: 10px;
			cursor: pointer;
		}
	}

	tbody {
		tr {
			cursor: pointer;
			&.row-even {
				background-color: desaturate(lighten(@questWidgetColor, 20%), 25%);
			}
			&.row-odd {
				background-color: desaturate(lighten(@questWidgetColor, 30%), 25%);
			}

			td {
				padding: 7px;
			}
		}
	}
}

.quest-set-viewer {

	#close-icon {
		cursor: pointer;
		img {
			position: absolute;
			top: 2px;
			right: 2px;
			width: 60px;
		}
	}

	@background: #F0F0F0;
	background-color: @background;
	border: 1px solid black;
	overflow: auto;
	width: 900px;
	margin-left: -450px;
	position: absolute;
	left: 50%;
	top: 100px;
	z-index: 100;
	padding-bottom: 20px;
	.quest-set-header {
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		padding: 20px 0px 20px 0px;
		padding-right: 50px;
		margin-bottom: 20px;
		background-color: darken(@background, 10);
	}
	.quest-set-title {
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.quest-set-points {
		font-weight: bold;
		font-size: 40px;
		margin-top: 0px;
		margin-bottom: 0px;
		float: right;
		width: 40%; 
		text-align: right;
	}
	.quest-set-desc {
		margin-top: 0px;
		margin-buttom: 0px;
		height: 50px;
		float: left;
		width: 60%; 
		text-align: left;
	}
	.quest-set-content {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.quest-title {
		font-weight: bold;
		font-size: 25px;
		float: left; 
		width: 80%; 
		text-align: left;
	}
	.quest-points {
		font-weight: bold;
		font-size: 25px;
		float: right; 
		width: 20%; 
		text-align: right;
	}
	.quest-task {
		height: 50px;
	}
	.task-points {
		float: left; 
		width: 20%; 
		text-align: right;
		margin-top: 0px;
	}
	.task-title {
		float: left;
		width: 80%;
		text-align: left;
		margin-top: 0px;
	}
	.task-interaction {
		float: left;
		width: 80%;
		text-align: left;
		padding-left: 40px;
		margin-top: 0px;
	}
	.error {
		color: red;
	}
	.success {
		color: green;
	}
	.hidden {
		display: none;
	}
	.visible {
		display: visible;
	}
}

@questWidgetColor: @epl-gray;
@questWidgetWidth: 400px;
@questWidgetHeight: 186px;