.questPopUp {
  height: 237px;
  width: 430px;
  position: fixed;
  right: 0px;
  bottom: -240px;
  visibility: hidden;
}

.questPopUpCompleted {
	background-image: url('/static/images/compass-notification.png');
}

.questPopUpDiscovered {
	background-image: url('/static/images/bulb-notification.png');
}

.questPopUpCloseButton {
  height: 52px;
  width: 52px;
  position: absolute;
  right: 1px;
  top: 26px;
}

.questPopUpText {
  position: absolute;
  left: 60px;
  top: 60px;
  font-size: 15;
  width: 350px;
}

.questPopUpTitle {
	font-size: x-large;
	font-weight: bold;
	text-decoration: underline;
  width: 100%;
}

.questPopUpDescripton {
  width: 100%;
}

.questPopUpPointsDisplay {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.questPopUpPts {
  float: right;
}

.questPopUpPoints {
  
}

.questPopUpArrows {
	position: absolute;
	right: 100px;
	top: 30px;
	width: 100px;
}

.questPopUpFloatingNumbers {
	float: right;
}

.questPopUpLeftArrow {

}

.questPopUpRightArrow {

}
