.questPopUp {
  height: 208px;
  width: 416px;
  position: fixed;
  right: 0px;
  bottom: -208px;
  visibility: hidden;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}
.questPopUpTask {
  background-image: url('/static/images/task-popup.png');
}
.questPopUpChallenge {
  background-image: url('/static/images/challenge-popup.png');
}
.questPopUpQuest {
  background-image: url('/static/images/quest-popup.png');
}
.questPopUpDiscovered {
  background-image: url('/static/images/discovery-popup.png');
}
.questPopUpCloseButton {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.questPopUpText {
  position: absolute;
  left: 40px;
  top: 35px;
  width: 350px;
  cursor: pointer;
}
.questPopUpTitle {
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
  cursor: pointer;
}
.questPopUpDescripton {
  width: 100%;
  cursor: pointer;
}
.questPopUpPointsDisplay {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.questPopUpPts {
  float: right;
}
.questPopUpArrows {
  position: absolute;
  right: 60px;
  top: 10px;
  width: 100px;
  cursor: default;
}
.questPopUpFloatingNumbers {
  float: right;
}
.questPopUpLeftArrow {
  cursor: pointer;
}
.questPopUpRightArrow {
  cursor: pointer;
}
