html, body {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: @pageBackground;
	font-family: @font;
}

[data-role=viewport] {
	width: 100%;
	height: 100%;
	padding: 0
	margin: 0;
}

#epl-bar {
	width: 100%;
	height: @topBarHeight;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: @pageBackground;
  	.x-box-shadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.2));

  	.logo {
  		width: 80px;
  		height: @topBarHeight;
  		display: table-cell;
  		text-align: center;
  		vertical-align: middle;
  		font-size: 20px;
  	}
}

#tm-sidebar {

	@iconSize: 59px; //What is the base size for icons?
	@itemSpacing: 10px;
	@menuColor: rgba(235, 235, 235, 1);

	width: @sidebarWidth;
	height: 100%;
	background-color: @menuColor;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	.x-box-shadow(1px, 0, 10px, 0px, rgba(0,0,0,0.3));

	//Width increases when activated/hovered
	&.expanded, &:hover {
		width: 300px;
	}

	div.contents {
		margin-top: @topBarHeight;
		padding: 0 @itemSpacing @itemSpacing @itemSpacing;

		ul.menu {
			margin: 0;
			padding: 0;
			list-style-type: none;
			overflow: hidden;

			li {
				width: 100%;
				height: @iconSize;
				background-color: darken(@menuColor, 10%);
				margin: @itemSpacing 0;
				overflow: hidden;

				&:hover {
					background-color: darken(@menuColor, 16%);
				}

				.icon {
					width: @iconSize;
					height: @iconSize;
					background-color: darken(@menuColor, 50%);
				}
			}
		}
	}
}

#tm-canvas {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0px; //Bound in timemap.html
	top: 0px; //Bound in timemap.html
}

#tm-inputForm {
    // temporary style; will be changed!
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    .required {
        color: red;
    }
	
    .top {
        vertical-align:text-top;
    }
	
    .hintText {
        font-size: 10px;
        color: gray;
    }
	
    .indent {
        margin-left: 40px;
    }
	
    td.keywordCell {
        width: 300px;
    }
}

//==========================//
// Cross-Browser Facilities //
//==========================//

.x-box-shadow (@x, @y, @radius, @size, @color) {
	-webkit-box-shadow: @x @y @radius @size @color; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: @x @y @radius @size @color; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

//==========================//
// Page Settings            //
//==========================//

@pageBackground: white;
@sidebarWidth: 300px;
@topBarHeight: 60px;
@font: Arial;
